<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DBSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8882/DB.asmx" binding="basicHttpBinding"
                bindingConfiguration="DBSoap" contract="WSLoad.DBSoap" name="DBSoap" />
        </client>
    </system.serviceModel>
</configuration>